h1 {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 0.25px;
}

h3 {
  margin: 0;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px
}

h4 {
  margin: 0;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px
}

h2 {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  margin: 0;
}

.parent {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'neue-haas-grotesk-text', Helvetica, sans-serif;
}

.centerParent {
  max-width: 900px;
  height: 100%;
}

.topDivider {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pageTitle {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 0.25px;

  margin: 10px;
}

.pageSubtitle {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  margin: 10px;
  margin-right: 50px;
}

.menubar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  padding-bottom: 30px;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:hover {
  text-decoration: underline;
}

a.underline:link {
  text-decoration: underline;
  color: inherit;
}

a.underline:visited {
  text-decoration: underline;
  color: inherit;
  cursor: auto;
}

a.underline:hover {
  text-decoration: underline;
}

.imageHalf {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img.portfolio {
  max-height: 400px;
  max-width: 400px;
  width: auto;
  height: auto;
  margin: 10px;
}

video.portfolio {
  max-height: 400px;
  max-width: 400px;
  margin: 10px;
}

.imageStack {
  display: flex;
  flex-direction: column;
}

.imagetext {
  margin-right: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

